meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Procesos agroindustriales del plátano 
meta(meta name="description" content="El contenido de esta actividad permite al aprendiz conocer los requerimientos para implementar procesos para la transformación del plátano de acuerdo a las nuevas tendencias del mercado, considerando las buenas prácticas de manipulación de alimentos, la materia prima requerida y la secuencia lógica de los procesos.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")