h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Procesos agroindustriales del plátano', 'main.html#page/procesos/')
                    +navTemaItem('2', 'Criterios de calidad para la transformación del plátano', 'main.html#page/criterios-calidad/')
                    +navTemaItem('3', 'Prácticas de manipulación de alimentos', 'main.html#page/manipulacion-alimentos/')
                    +navTemaItem('4', 'Productos elaborados a base de plátano', 'main.html#page/productos/')
                    +navTemaItem('question', 'Actividad didáctica', 'main.html#page/actividad-1/')
