.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo Agroindustria del plátano
            h1.curso-titulo Procesos agroindustriales del plátano 

            .brand-line-primary

            p.curso-descripcion El contenido de esta actividad permite al aprendiz conocer los requerimientos para implementar procesos para la transformación del plátano de acuerdo a las nuevas tendencias del mercado, considerando las buenas prácticas de manipulación de alimentos, la materia prima requerida y la secuencia lógica de los procesos. 

            a.curso-btn-iniciar.btn.btn-light(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")