include ../mixins/functions
+pageHeader("Introducción", "assets/images/header/header_media.svg")

.container#page-introduccion

    .header-ecored
        h1 Introducción

    .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/WYuXB38oWnk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    section.card-border-bottom.mt-5
        .card
            .card-body

                p.mb-5 El cultivo de plátano en Colombia ocupa un importante lugar a nivel nacional en la producción agrícola, contando actualmente con una gran demanda para el consumo en fresco y en menor porcentaje como materia prima para los procesos agroindustriales. Sin embargo, la dinámica de la comercialización ha ido evolucionando, ya que últimamente se ha incrementado el consumo del plátano procesado en diferentes presentaciones. 

                p.mb-5 Para poder dar respuesta a las nuevas tendencias del mercado del plátano, surge la necesidad de conocer los diferentes procesos de su transformación, para agregarle valor al producto y ampliar los canales de comercialización, que contribuyan a fortalecer la producción del plátano y el desarrollo socioeconómico del país.



