.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th Autor
                th Tipo de material
                th Enlace del recurso

        tbody
            tr
                td 
                    strong Arizabaleta, M. & Giraldo L. (2018). Diversificación de productos agroindustriales colombianos para exportación: Caso Plátano
                td Tesis
                td 
                    a(href="media/documentos/complementarios/MC_AA3_Diversificacion_de_productos_agroindustriales_colombianos_platano.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar