include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 1. Procesos agroindustriales del plátano
 

    .card

        .card-body
            p La agroindustria del plátano es la actividad que integra las actividades de la producción primaria, cosecha, poscosecha, transformación y comercialización. Su objetivo es dar valor agregado al producto mediante diferentes procesos de transformación; los cuales incluyen la utilización de tecnologías permitiendo la conservación de calidad y el valor nutritivo, para satisfacer las necesidades y expectativas del consumidor.

            p.text-center.my-5.py-5
                img(src="assets/images/pages/tema-1/cadena.svg").img-fluid 


            p.my-5 Luego, para obtener un producto procesado de excelente calidad y altamente competitivo, debe existir una responsabilidad complementaria de cada uno de los eslabones que integran la cadena agroindustrial del plátano. Lo cual, genera importantes ventajas como:

            hr.line-100.bg-brand-color-dark-light.my-5

            ul
                li Aumento de la vida útil del plátano.
                li Generación de empleo. 
                li Generación de ingresos por el valor agregado del producto y el crecimiento del mercado.
                li Posibilidad de uso de diferentes variedades del plátano.

            hr.line-100.bg-brand-color-dark-light.my-5


            p.my-5 Teniendo en cuenta lo anterior, los procesos industrializados del plátano han tenido un importante auge por el cambio en los hábitos alimenticios de la población, quienes han aumentado el consumo de productos procesados; dando origen a nuevas ideas empresariales en torno a la agroindustria del plátano, quienes lo utilizan como materia prima para su proceso y transformación en:

            p.text-center.my-5.py-5
                img(src="assets/images/pages/tema-1/procesos.svg").img-fluid 

            p.my-5 Muchas de estas organizaciones cuentan con algún grado de tecnología presentando algunas limitaciones por la escasa disponibilidad de la materia prima, de acuerdo a la variedad requerida y falta de mercadeo, entre otros aspectos.

            p.my-5 En consecuencia, para asegurar el éxito de una agroindustria de plátano se deben considerar los siguientes aspectos: 

            p.text-center.my-5.py-5
                img(src="assets/images/pages/tema-1/aspectos.svg").img-fluid 