include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container


    .header-ecored
        h1 3. Prácticas de manipulación de alimentos
 

    p Las buenas prácticas de manufactura establecen los principios básicos y prácticas de higiene en manipulación, preparación, procesamiento, envasado, almacenamiento, transporte y distribución de alimentos o productos agroindustriales. La adecuada aplicación de dichos principios permite la obtención de productos inocuos y de óptima calidad, el mejoramiento en la productividad y el acceso a nuevos mercados diferenciados.

    p En este propósito es necesario que se lleven a cabo las siguientes prácticas durante el proceso de manipulación de alimentos en los procesos de la transformación del plátano:

    .header-ecored
        h2  3.1 Condiciones del personal        


    blockquote “La persona encargada de manipular alimentos cumple una función esencial para disminuir la probabilidad de contaminación en los productos que elabora”. (FAO y OPS, 2017). 

    p Por tal razón, debe tener en cuenta los siguientes aspectos:

    p.text-center.my-5.py-5
        img(src="assets/images/pages/tema-3/condiciones.svg").img-fluid 


    .header-ecored
        h2  3.2 Higiene en equipos e instalaciones


    p Este proceso es imprescindible para evitar que los equipos e instalaciones se conviertan en fuentes de contaminación para los alimentos. Para esto, se deben tener en cuenta las siguientes recomendaciones:


    .row.justify-content-center.mt-5

        .col-10.col-md-8
            .card-media
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-3/h1.svg").img-fluid
                    p.card__copy 
                        span 
                            |  Retirar los residuos sólidos y disponer adecuadamente en sitios establecidos.


        .col-10.col-md-8
            .card-media
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-3/h2.svg").img-fluid
                    p.card__copy 
                        span 
                            |  Lavar con agua y detergente.    

        .col-10.col-md-8
            .card-media
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-3/h3.svg").img-fluid
                    p.card__copy 
                        span 
                            |  Enjuagar con agua potable.


        .col-10.col-md-8
            .card-media
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-3/h4.svg").img-fluid
                    p.card__copy 
                        span 
                            |  Desinfectar sumergiendo en agua caliente (80 °C) por 1 minuto (para el caso de herramientas) o con hipoclorito (15 mm/5 litros de agua) durante 5 minutos.   


        .col-10.col-md-8
            .card-media
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-3/h5.svg").img-fluid
                    p.card__copy 
                        span 
                            |  Secar al ambiente, no utilizar trapos.



        .col-10.col-md-8
            .card-media
                .card-media__body                 
                    figure.card__figure
                        img(src="assets/images/pages/tema-3/h6.svg").img-fluid
                    p.card__copy 
                        span 
                            |  Limpiar y desinfectar varias veces al día (herramientas utilizadas, instalaciones: mesas, refrigeradores, cortadoras, freidoras.                                                            